.header {
  background-color: $bgWhite;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  &__text {
    font-size: 34px;
    line-height: 40px;
  }

  
}