// Colors
$bgMain:  #F7F8FF;
$bgWhite:  #FFFFFF;
$text: #000000;
$placeholder: #6B6B6B;
$fade: #979797;
$border: #DEDCDC;
$accent: #101D94;
$error: #FFADAD;
$button: rgba(25, 165, 39, 0.8);

// Font
$fontFamily: 'Roboto', 'Tahoma', sans-serif;
$fontSize: 16px;
$lineHeight: 18px;
$fontWeight: 300;